.user-item-card {
  border-radius: 16px;
  background-color: aliceblue;
}

.user-card-title {
  color: #0a2035;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-top: 24px;
}

.user-card-desc {
  color: #323f4b;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-top: 24px;
}

.modal-title {
  color: #0a2035;
  font-family: "Protest Revolution", sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
}

.modal-body {
  background-image: url("https://cdn.wallpapersafari.com/39/38/rmLTAJ.jpg");
  background-size: cover;
}

.detail-section-heading {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  text-align: left;
}

.detail-section-desc {
  color: #ffffffe0 !important;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: left;
  padding: 5px;
}

.modal-content {
  background-color: #fff;
  border-radius: 20px;
}

.modal-footer {
  border-top: none;
}

.emp-img {
  height: 400px;
  width: 400px;
}

.emp-sign {
  height: 200px;
  width: 400px;
}

.qr-code-img {
  height: 175px;
  width: 175px;
}

.manager-sign {
  height: 200px;
  width: 400px;
}

.person-name {
  font-family: "Protest Revolution", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.person-position {
  font-family: "Merienda", sans-serif;
  font-size: 16px;
}
