.banner-sections-bg-container {
  background-color: black;
  height: 100vh;
  background-size: cover;
  position: relative;
}

.shovel-gif {
  width: 400px;
}

.banner-h1 {
  font-family: "Protest Revolution", sans-serif;
  font-style: normal;
  font-size: 45px;
  font-weight: 300;
  color: orange;
}

.loading-logo {
  height: 200px;
  width: 200px;
}

.hr-footer {
  color: white;
}

.icon {
  color: #c8c9dd;
  font-size: 18px;
}

.section-copyright {
  color: white;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
}

.logo {
  height: 35px;
  width: 35px;
  border-radius: 40px;
  margin-right: 10px;
  color: white;
}

.facebook:hover {
  color: #8a3ab9;
  cursor: pointer;
}

.linkedin:hover {
  color: #0072b1;
  cursor: pointer;
}

.github:hover {
  color: #171515;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .shovel-gif {
    width: 300px;
  }

  .banner-h1 {
    font-size: 30px;
    font-weight: 300;
    margin-top: 10px;
  }

  .loading-logo {
    height: 125px;
    width: 125px;
  }

  .section-copyright {
    font-size: 15px;
    padding: 5px;
  }
}
