.form-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="text"] {
  width: 60%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="date"] {
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="file"] {
  width: 60%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: white;
}

.image-input {
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  label {
    padding: 4px;
  }

  input[type="text"] {
    padding: 4px;
  }

  input[type="date"] {
    padding: 4px;
  }

  input[type="file"] {
    padding: 4px;
  }
}
