.home-container {
  background-image: url("https://res.cloudinary.com/alokkumar07/image/upload/v1726248198/socp_employees/homeBackground_ycaxki.webp");
  background-size: cover;
  min-height: 100vh;
}

.side-container {
  height: 100vh;
  size: cover;
}

.loading {
  font-family: "Protest Revolution", sans-serif;
  font-style: italic;
  font-size: 2.5rem;
}

.loading-img {
  height: 100px;
  width: 100px;
}

@media screen and (max-width: 768px) {
  .home-container {
    background-image: url("https://res.cloudinary.com/alokkumar07/image/upload/v1726248198/socp_employees/homeBackground_ycaxki.webp");
    background-size: cover;
  }

  .side-container {
    height: 50vh;
  }

  .loading {
    font-family: "Protest Revolution", sans-serif;
    font-style: italic;
    font-size: 1.5rem;
  }

  .loading-img {
    height: 80px;
    width: 80px;
  }
}
